<div class="container">
  <div class="data-page">
    <ul>
      <% @users.each do |u| %>
        <li>
          <p class="name-color"><%= u %> connects:</p>
          <ul>
            <% total = 0 %>
            <% $redis.lrange("connects:#{u}", 0 , -1 ).uniq.each do |c| %>
              <li>
                <% online = $redis.hget(c, "online").to_i %>
                <% offline = $redis.hget(c, "offline").to_i %>
                online time: <span class='connect-time momentjs-time' data-time="<%= online %>"></span>
                <%= ' - '*10 %>
                offline time: <span class='connect-time momentjs-time' data-time="<%= offline %>"></span>
                <% if offline != 0 %>
                  <%= ' - '*10 %>
                  <% interval = ((offline - online) / 1000.0).round %>
                  interval: <%= interval %> seconds
                  <% total += interval %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% if total != 0 %>
            <p>total time: <%= total %> seconds</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
$(".momentjs-time").each(function(){
  var time;
  var start = $(this).data("time");
  if(start == 0) {
    $(this).html("still online");
  }else {
    moment.lang("zh-cn");
    time = moment(start).format("MMMD日 Ah:mm");
    $(this).html(time);
  }
});
</script>
